<div class="white-bg-container">


  <%= render "header" %>


  <div class="main-left-double">
    <h1 class="h1_standard">About</h1>

    <div class="social_icons">
      <%= link_to(image_tag("../../../images/icons/linkedin.png"), "http://www.linkedin.com/pub/scott-mota/2b/a68/130") %>
    </div>
    <h2 class="h2_standard">Scott Nick Mota - Owner</h2>
    <%= image_tag("../../../images/scott-mota-profile-picture-backdrop.jpg", :class => "nick-profile-image") %>
    <br/>
    <a href="http://proadvisor.intuit.com/referral/proadvisor_profile.jsp?id=y1t2VLHblOOH%2BmeB1cowDQ%3D%3D">Scott N. Mota's ProAdvisor Profile</a>

    <hr/>

    <h2 class="h2_standard">Scott N. Mota Business Services</h2>


    <%= image_tag("../../../images/financial_pics/paper-work-bookkeeping-accounting-payroll.jpg", :class => "img-float-right img-with-border") %>
    <p>Scott has a great passion for working with numbers. He proudly serves his clients with percussion, integrity, and
      honesty. He has a reputation for being extremely accurate and takes great pride in serving his clients
      bookkeeping, payroll, and tax preparation needs.</p>
    <p>Scott Mota is an Intuit QuickBooks Certified ProAdvisor, QuickBook Authorized Affiliate, and California Tax
      Education Council Registered Tax Preparer</p>
    <%= image_tag ("../../../images/intuit-quickbooks-pics/09-ProAdvisor-QB-76x120.gif") %>
    <%= image_tag ("../../../images/financial_pics/CTEC-california-tax-education-council.jpg") %>

    <hr/>

    <h3 class="h3_standard">On the Go... Accounting:</h3>

    <p>To make your life more convenient, Scott will drive to your location to perform the following services (travel
      fees may apply):</p>
    <ul>
      <li>Bookkeeping with QuickBooks</li>
      <li>QuickBooks setup/administration consulting</li>
      <li>Payroll</li>
      <li>Tax Preparation</li>
    </ul>
    <p>Scott N. Mota Business Services currently serves clients in the following locations:</p>
    <ul>
      <li>Lodi</li>
      <li>Galt</li>
      <li>Elk Grove</li>
      <li>Sacramento</li>
      <li>Rio Vista</li>
    </ul>

  </div>
  <div class="inner-main-right-white-left">

    <div id="adds">
      <%= render "quickbook_adds" %>
    </div>

  </div>




  <%= render "footer" %>

</div>
