<%= link_to image_tag("../../../images/slices/home-galt-accounting-payroll.jpg",
                      :id=>"home-galt-accounting-payroll"),
            :controller => 'main_pages', :action => 'home' %>

<%= link_to image_tag("../../../images/slices/about-central-valley-quickbooks-scott-mota.jpg",
                      :id=>"about-central-valley-quickbooks-scott-mota"),
            :controller => 'main_pages', :action => 'about' %>

<%= link_to image_tag("../../../images/slices/payroll-quickbooks-intuit-accounting-scott-mota.jpg",
                      :id=>"payroll-quickbooks-intuit-accounting-scott-mota"),
            :controller => 'main_pages', :action => 'payroll' %>

<%= link_to image_tag("../../../images/slices/quickbooks-consulting-tax-preparation.jpg",
                      :id=>"quickbooks-consulting-tax-preparation"),
            :controller => 'main_pages', :action => 'quickbooks_consulting' %>

<%= link_to image_tag("../../../images/slices/bookkeeping-galt-california-lodi-stockton-modesto.jpg",
                      :id=>"bookkeeping-galt-california-lodi-stockton-modesto"),
            :controller => 'main_pages', :action => 'bookkeeping' %>

<%= link_to image_tag("../../../images/slices/tax-preparation-sacramento-california.jpg",
                      :id=>"tax-preparation-sacramento-california"),
            :controller => 'main_pages', :action => 'tax_preparation' %>

<%= link_to image_tag("../../../images/slices/blog-scott-mota-business-services.jpg",
                      :id=>"blog-scott-mota-business-services"),
            :controller => 'posts', :action => 'index' %>

<%= link_to image_tag("../../../images/slices/shop-online-quickbooks.jpg",
                      :id=>"shop-online-quickbooks"),
            :controller => 'main_pages', :action => 'shop' %>

<%= link_to image_tag("../../../images/slices/contact-scott-mota.jpg",
                      :id=>"contact-scott-mota"),
            :controller => 'main_pages', :action => 'contact' %>

<img src="../../../images/slices/golden-world-rich-finance-scott-mota.jpg" id="golden-world-rich-finance-scott-mota" alt=""/>

<div id="logo-scott-mota-biz">
  <%= image_tag("../../../images/rocker-kid-gold-sky.jpg") %>

</div>




