<div class="white-bg-container">
  <%= render "header" %>


  <div class="main-left-double">

    <h1>New Blog post</h1>

    <%= render 'form' %>

    <%= link_to 'Back', posts_path %>
  </div>

  <div class="inner-main-right-white-left">

    <div id="adds">
      <%= render "main_pages/quickbook_adds" %>
    </div>

  </div>

  <%= render "footer" %>


</div>